# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# ==============================
# Docker / Runtime
# ==============================
*.log
*.pid

# ==============================
# Vault / Seguridad
# ==============================
secrets/
vault/data/
vault/file/

role_id
secret_id
token

# ==============================
# Variables de entorno
# ==============================
.env
.env.*

# ==============================
# Sistema / IDE
# ==============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ==============================
# Otros
# ==============================
*.swp
*.tmp
